* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
}

.banner {
    background-color: #f2f2f24b;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header {
    width: 100% !important;
}

.my_container {
    padding: 16px;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.my_container h1 {
    text-align: center;
    color: #fd7013;
}

.inbox__people {
    color: black;
    padding: 16px;
}

/* Style the content */

.user_left {
    background-color: red !important;
}

.user_joined {
    background-color: green !important;
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    overflow-wrap: break-word;
}

nav.navbar {
    height: auto;
    width: auto;
    padding: 20px;
    display: block;
    text-align: right;
    justify-content: right;
    font-size: 25px !important;
    background-color: #f2f2f2;
}

.nav-link {
    text-decoration: none !important;
    color: #fd7013;
}

.nav-link:hover {
    color: #111;
    display: inline-block;
    transition-duration: 0.5s;
}

.navbar-brand {
    font-size: 30px !important;
    color: #372dff;
    transition-duration: 0.5s;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 2em !important;
        background-image: url(../assets/background.jpg) !important;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(../assets/phone_background.jpg) !important;
    }
}

.outgoing__message,
.incoming__message {
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}

.outgoing__message {
    background-color: #18d2b0;
    margin-left: 30%;
}

.incoming__message {
    background-color: #5f5af8;
    margin-right: 30%;
}

.messages__history {
    max-height: 500px;
    display: flex;
    flex-direction: column-reverse;
}
.you_have_joined {
    background-color: gold !important;
}
#clear_chat {
    width: 100%;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#notification_button.fa-bell-slash {
    color: red;
}

#notification_button.fa-bell {
    color: green;
}

.message_form {
    display: flex;
}
.message_form__input {
    flex-grow: 1;
    margin-right: 10px;
}
.message_form__button {
    width: min-content;
}
