* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey !important;
}

.banner {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header {
    width: 100% !important;
}

.container {
    padding: 16px;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    color: #fd7013;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

/*make the active user text inherit style from container*/

.inbox__people {
    color: black;
    padding: 16px;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

.user_left {
    background-color: red !important;
}

.user_joined {
    background-color: green !important;
}

.message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

nav.navbar {
    height: auto;
    width: auto;
    padding: 20px;
    display: block;
    text-align: right;
    justify-content: right;
    font-size: 25px;
    background-color: #f2f2f2;
}

.nav-link {
    text-decoration: none;
    color: #fd7013;
}

.nav-link:hover {
    color: #111;
    display: inline-block;
    transition-duration: 0.5s;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 2em !important;
    }
}

.outgoing__message,
.incoming__message {
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
}

.outgoing__message {
    background-color: #18d2b0;
    margin-left: 50%;
}

.incoming__message {
    background-color: #5f5af8;
    margin-right: 50%;
}

.message_form__input {
    width: 89%;
}
.message_form__button {
    width: 10%;
}
